$colorf: #1a1639;
$colorb: #e1e3ce;

$color0: #65aba1;
$color8: #477567;

$color1: #597581;
$color9: #486444;

$color2: #2a254d;
$color10: #473f7e;

$color3: #944961 ;
$color11: #822b47;

$color4: #597581;
$color12: #395c6b;

$color5: #8d7783;
$color13: #5a4c53;

$color6: #492a24;
$color14: #8a5d46;

$color7: #474f62;
$color15: #263046;

