<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Angular digital clock directives</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div ng-app="digitalclock" class="wrapper">
  
  <br/>
  <!-- CLOCK ONE -->
  <div class="aspect">
    <ng-clock hour="{{hour}}" minute="{{minute}}" second="{{second}}" class="clock cursor" ng-click="toToday()">
        <div class="cells" ng-repeat="1 in [1,2,3,4,5,6]">
          <div class="cell" ng-repeat="cell in digit track by $index"></div>
        </div>
    </ng-clock>
  </div>
  
  <br/>  <br/>

  <!-- CLOCK TWO -->
  <div class="aspect">
    <ng-clock-two class="clocktwo" hour="{{hour}}" minute="{{minute}}" second="{{second}}">
        <div class="cells" ng-repeat="1 in [1,2,3,4,5,6]">
          <div class="testbar" ng-repeat="1 in [1,2,3,4,5,6,7]"></div>
        </div>
      </div>
    </ng-clock2>
  </div>
  
</div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
